In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('../data/train.csv')

In [3]:
train.head()

   userId  movieId  rating  timestamp  season  month  day
0       0       32       4  978824330       5      5  256
1       0       34       4  978824330       5      5  256
2       0        4       5  978824291       5      5  256
3       0       35       4  978824291       5      5  256
4       0       30       4  978824291       5      5  256